In [15]:
%pip install pandas

Requirement already satisfied: pandas in d:\program files\python312\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in d:\program files\python312\lib\site-packages (from pandas) (2.1.2)
Requirement already satisfied: python-dateutil>=2.8.2 in d:\program files\python312\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in d:\program files\python312\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in d:\program files\python312\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in d:\program files\python312\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [16]:
import pandas as pd
df = pd.read_csv(filepath_or_buffer="output.csv")
df.head()

,run_type,search_version,results,time_ms
0,Go results,V1,"[web-result-for:""Go is awesome"" image-result-...",193 ms
1,Go results,V1,"[web-result-for:""Go is awesome"" image-result-...",152 ms
2,Go results,V1,"[web-result-for:""Go is awesome"" image-result-...",217 ms
3,Go results,V1,"[web-result-for:""Go is awesome"" image-result-...",248 ms
4,Go results,V1,"[web-result-for:""Go is awesome"" image-result-...",141 ms

In [17]:
df.tail()

,run_type,search_version,results,time_ms
75,Java results,V4,"[web-result-for:""Java is great"" image-result-...",66 ms
76,Java results,V4,"[web-result-for:""Java is great"" image-result-...",68 ms
77,Java results,V4,"[web-result-for:""Java is great"" image-result-...",60 ms
78,Java results,V4,"[web-result-for:""Java is great"" image-result-...",47 ms
79,Java results,V4,"[web-result-for:""Java is great"" image-result-...",53 ms

In [18]:
df.describe()

,run_type,search_version,results,time_ms
count,80,80,80,80
unique,2,4,11,50
top,Go results,V1,"[web-result-for:""Java is great"" image-result-...",30 ms
freq,40,20,37,8

In [25]:
df[['run_type'] is "Go results"]

KeyError: False